    /* Style the buttons */
    .btns {
      background-color: #f1f1f1;
      padding: 10px 16px;
      cursor: pointer;
  }

  .bgColor {
    background-color: red;
    padding: 10px 16px;
    cursor: pointer;
  }

  /* Style the active class, and buttons on mouse-over */
  .active {
      background-color: #33cc33;
      color: white;
  }
