@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Prompt', 'Roboto', sans-serif;
}

.container {
    width: 960px;
    margin: 0px auto;
}
.head {
    background-color: rgb(78, 158, 98);
}
.header {
    font-size: 35px; 
    color: #fff; 
    padding: 10px; 
    font-weight: 600; 
}
.left {
    float: left; 
}
.right {
    float: right;  
}
.clear {
    clear: both;
}

/* nav bar */
.nav {
    background-color: #c8eecd;
    height: 50px;
}
.link {
    display: inline-block;
    padding: 10px 30px;
    font-size: 20px;
    color: #175304;
    text-decoration: none;
}
.hero {
    display: block;
    width: 100%;
    background-position: center;
    background-size: cover;
}

/* content */
.headerContent {
    background-color: #c8eecd;
    text-align: center;
    height: 50px;
}
h1 {
    display: inline-block;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 700;
}
.containLeft {
    width: 40%;
    float: left;
    padding: 20px;
}
.items {
    width: 100%;
}
.containRight {
    width: 60%;
    float: right;
    padding: 20px;
}
.conHead {
    font-size: 25px;
    margin-bottom: 20px;
}
.moreLink {
    display: block;
    margin-top: 20px;
}